### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/
.kotlin
.idea/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Maven ###
target/
*.class

### Env ###
.env

### Build artifacts ###
lib/*.jar
lib/README.md
.mvn-settings.xml
dependency-reduced-pom.xml
out/
out-test/

### Mac OS ###
.DS_Store